.portfolio-content {
  background-color: $header-background-color;
}

.buttons-part {
  padding-block: 60px 40px;

  @media #{$tablet} {
    padding-block: 60px 30px;
  }

  @media #{$desktop} {
    padding-block: 94px 50px;
  }

  &__container {
    padding-inline: 15px;
  }

  &__buttons-branch-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;

    @media #{$tablet} {
      flex-wrap: nowrap;
      justify-content: center;
    }
    /*
    &:first-child {
      margin-left: 0;
    }
    */
  }
}
