.portfolio-content {
  background-color: $light-background-color;
}

.buttons-part {
  padding-block: 94px;

  &__buttons-branch-list {
    display: flex;
    padding: 0 318px 50px 310px;

    &:first-child {
      margin-left: 0;
    }
  }
}
