.form-user-data {
  padding: 40px 40px;

  &__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-align: center;
    color: $headline-color;
    margin-block: 0 12px;
  }

  &__text-data {
    position: relative;

    &:focus-within .form-user-data__icon-input {
      fill: $logo-color-first;
    }

    &:focus-within .form-user-data__input-label {
      color: $logo-color-first;
    }
  }

  &__input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    color: $text-color;
    letter-spacing: 0.12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input-text {
    display: block;
    width: 100%;
    height: 40px;
    margin-block: 4px 10px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid $logo-color-first;
      outline: none;
    }
  }

  &__icon-input {
    position: absolute;
    top: 32px;
    left: 15px;
    fill: $headline-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__comment-textarea {
    resize: none;
    margin-block: 4px 20px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      color: rgba(117, 117, 117, 0.5);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
      border: 1px solid $logo-color-first;
      outline: none;
    }

    &:focus::placeholder {
      color: $logo-color-first;
    }
  }

  &__statutes-approval {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__checkbox-box {
    width: 16px;
    height: 15px;
    margin-right: 8px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

    &:checked ~ .form-user-data__checkbox-box--not-checked {
      visibility: hidden;
    }

    &:checked ~ .form-user-data__checkbox-box--checked {
      visibility: visible;
    }

    &--not-checked {
      position: absolute;
      transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--checked {
      position: absolute;
      visibility: hidden;
      transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__checkbox-label {
    font-size: 12px;
    letter-spacing: 0.36px;

    &--link {
      color: $logo-color-first;
      display: inline;
    }
  }
}

.form-newsletter {
  &__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.42px;
    color: $dark-background-text-color;
    margin-bottom: 20px;
    display: block;
    text-align: center;

    @media #{$tablet} {
      padding-top: 60px;
    }
    @media #{$desktop} {
      text-align: left;
      padding-top: 12px;
    }
  }

  &__input-part {
    @media #{$tablet} {
      padding-inline: 166px 152px;
    }
    @media #{$desktop} {
      padding-inline: 0;
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }
  }

  &__input {
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $dark-background-color;
    padding-block: 15px;
    padding-left: 16px;
    margin-bottom: 20px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media #{$desktop} {
      padding: 15px 295px 15px 16px;
      width: 358px;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.48px;
      color: rgba(255, 255, 255, 0.6);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
      border: 1px solid $logo-color-first;
      outline: none;
    }

    &:focus::placeholder {
      color: $logo-color-first;
    }
  }
}
