.section-team {
  display: none;
  @extend %section;
  background-color: $team-background-color;

  &__headline {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: $headline-color;
    text-align: center;
    margin-block: 0 50px;
  }

  &__people-list {
    display: flex;
    justify-content: space-around;
  }

  &__team-member {
    background-color: $header-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__member-name {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: $headline-color;
    text-align: center;
    margin: 30px auto 10px;
  }

  &__member-position {
    @extend %text;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 16px;
  }
}
