.section-team {
  padding-block: 60px;
  background-color: $team-background-color;

  @media #{$desktop} {
    padding-block: 94px;
  }

  &__container {
    padding-inline: 15px;
  }

  &__headline {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.84px;
    color: $headline-color;
    text-align: center;
    margin-block: 0 30px;

    @media #{$desktop} {
      font-size: 36px;
      letter-spacing: 1.08px;
      margin-block: 0 50px;
    }
  }

  &__people-list {
    @media #{$tablet} {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }
    @media #{$desktop} {
      flex-wrap: nowrap;
    }
  }

  &__team-member {
    background-color: $header-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    @media #{$tablet} {
      flex-basis: calc((100% - 30px) / 2);
      margin: 0;
    }
  }
  &__member-image {
    display: block;
    width: 100%;
  }
  &__member-name {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.48px;
    color: $headline-color;
    text-align: center;
    margin-block: 30px 10px;
  }

  &__member-position {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 16px;
    margin: 0;
  }
}
